.git
.github
.venv
__pycache__
*.py[cod]
*.egg-info
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
build
dist
.env
.env.*
!.env.example
data
mlruns
mlartifacts
mlflow.db*
db-dumps
*.dump
*.backup
notebooks
tests
docs
.local
.pre-commit-config.yaml
.python-version
.DS_Store
.idea
.vscode
